@font-face {
    font-family: "Archivo Narrow";
    src: url(/archivo-narrow.ttf);
}

@font-face {
    font-family: "Archivo Narrow";
    src: url(/archivo-narrow-italic.ttf);
    font-style: italic;
}

:root {
    --background-color: #fdfcfd;
    --light-accent: #f5cbcc;
    --text-color: #000102;
    --accent1: #1f3b6d;
    --accent1-visited: #0c4948;
    --accent2: #592e66;
    --accent3: #208859;
}


body {
    max-width: 41em;
    margin: 3em auto;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--text-color);
    background-color: var(--background-color);
}

.postlist * {
    font-size: 1.1em;
    text-decoration: none;
}

.postlist {
    padding: 0;
    list-style-type: none;
}

.postlist li {
    margin-top: 1em;
}


nav {
    margin-bottom: 2.3em;
}

a {
    color: var(--accent1);
}

a:visited {
    color: var(--accent1-visited);
}

.posttitle {
    font-family: "Archivo Narrow";
    font-size: 2.2em;
    margin: 0;
}

.postinfo {
    padding: 1em;
    text-align: right;
}

.postinfo * {
    font-style: italic;
}

.postinfo h2 {
    font-size: 1em;
}

.postinfotime {
    display: inline-block;
}

.postinfotags {
    list-style-type: none;
    padding: 0;
    margin: 0.5em 0 0 0;
}

.postinfotags li {
    display: inline-block;
    padding: 0.25em;
    margin: 0.25em;
    border: dashed var(--accent2) 1px;
}

p.author {
    margin: 0;
}

p {
    line-height: 160%;
}

.nounderline {
    text-decoration: none;
}

div.subtitle {
    font-style: italic;
    padding-left: 3em;
    margin-bottom: 1.4em;
}

h1.special {
    font-family: "Archivo Narrow", sans-serif;
    font-style: italic;
    font-size: 3.5em;
    color: var(--accent1);
    margin-bottom: 0.1em;
    border-bottom: 3px solid var(--accent3);
    text-transform: lowercase;
}

h1,
h2,
h3,
h4 {
    font-family: "Archivo Narrow", sans-serif;
}


img {
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}